<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Artist</title>
</head>
<body>

  <h1>Artist Title: <%= @artist.name %></h1>

  <h2>Songs</h2>
  <% all_songs = Song.all.select{|song| song.artist.name == @artist.name} %>

  <ul>
    <% all_songs.each do |song| %>
      <a href="/songs/<%= song.slug %>"><li><%= song.name %> </li></a>
    <% end %>
  </ul>


  <h2>Genres</h2>
  <% all_songs = Song.all.select{|song| song.artist.name == @artist.name} %>
  <%  all_genres = all_songs.map{|song| song.genres}%>


  <ul>
    <% all_genres.collect do |genre| %>
      <% genre.each do |g| %>
      <a href="/genres/<%= g.slug %>">
        <li><%= g.name %> </li>
      </a>
        <% end %>
    <% end %>
  </ul>



</body>
</html>
